@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
  height: 100vh;
  overflow: hidden;
  /* background-color: #000; */
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  /* background-color: darkslategray; */
}

.box {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.box.left {
  left: 0;
  background: url('https://cdn.pocket-lint.com/r/s/1200x630/assets/images/155111-laptops-review-apple-macbook-air-review-m1-late-2020-it-s-getting-better-all-the-time-image2-izimkjs56z.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(92, 90, 235, 0.7);
}

.box.right {
  right: 0;
  background: url('https://helios-i.mashable.com/imagery/reviews/02W6DtZ9olx8XL6POlYLmiV/hero-image.fill.size_1200x1200.v1647172575.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 68, 68, 0.8);
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: capitalize;
  width: 10rem;
  padding: 1.2rem;
  border-radius: 5px;
  margin-top: 1.5rem;
}

.box.left .button:hover {
  background-color: rgba(92, 90, 235, 1);
  /* border-color: rgba(92, 90, 235, 1); */
  border-color: lightyellow;
}

.box.right .button:hover {
  background-color: rgba(72, 68, 68, 1);
  border-color: rgba(72, 68, 68, 1);
}

.left-hover .left {
  width: 75%;
}

.left-hover .right {
  width: 25%;
}

.right-hover .right {
  width: 75%;
}

.right-hover .left {
  width: 25%;
}

.box.right,
.box.left,
.box.right::before,
.box.left::before {
  transition: all 1500ms ease-in-out;
}
